@using SE.Web.Models
@model IEnumerable<SE.Web.Models.Sport>

@{
    ViewBag.Title = "Sports";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Responsible
        </th>

        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsible)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />