@model SE.Web.Models.Event
@{
    ViewBag.Title = "Edit Event";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Edit" asp-controller="Event" method="post">
    @Html.HiddenFor(model => model.EventID)
    @Html.HiddenFor(model => model.SportID)
    <div class="form-horizontal">

        <div class="form-group">
            <label asp-for="@Model.Name" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="@Model.Name" class="form-control"/>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Local" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="@Model.Local" class="form-control"/>
                <span asp-validation-for="@Model.Local" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.EventDate" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="@Model.EventDate" type="date" class="form-control"/>
                <span asp-validation-for="@Model.EventDate" class="text-danger"></span>
            </div>
        </div>

    </div>
    <hr/>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
    <button type="submit" class="btn btn-default">Save</button>
</form>
